# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env
.venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Secrets
.env
*.env
